.round-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #f8f7f7;
  font-size: 15px;
  margin-right: 10px;
}

.round-btn:hover {
  border: 1px solid #b6b4b4;
}

.radioBtnWrapper {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
}

.radioBtnWrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radioBtnCheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f8f7f7;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
}

.radioBtnWrapper:hover input ~ .radioBtnCheckmark {
  background-color: #f3f3f3;
}

.radioBtnWrapper input:checked ~ .radioBtnCheckmark {
  background-color: #e0e0e0;
}

.radioBtnCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radioBtnWrapper input:checked ~ .radioBtnCheckmark:after {
  display: block;
}

.radioBtnWrapper .radioBtnCheckmark:after {
  top: -1px;
  left: -1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #b6b4b4;
  padding: 1px;
}
